#back-top {
	margin: 0px;
	right: 0px;
	position: fixed;
bottom: 0px;
}

/* arrow icon (span tag) */
#back-top span {
	width: 60px;
	height: 60px;
	display: block;
	margin: 0px;
	opacity: .5;
	background: #ddd url(img/up-arrow.png) no-repeat center center;
	/* rounded corners */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* background color transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
	background-color: #febc11;
	opacity: 1;
}
